html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
    body
        center
            H1= title 
            button#create(onclick="showAll()") show all
            input#search(style="width:200px" placeholder="검색어 입력" onkeyup="search(this.value)")
            P
            - var cnt=0
            table(style="width:400px") 
                tr
                    th(style="width:80px") 대분류
                    th(style="width:80px") 중분류
                    th(style="width:80px") 소분류 
                    th(style="width:120px") 제품명
                    th(style="width:40px") 바코드
                each product in goods 
                    tr(name="row" id="row"+cnt)
                        td
                            div(value=product.depth1, name="depth1", readonly="true" id=cnt onclick="filter('1',this.innerText)")= product.depth1
                        td
                            div(value=product.depth2, name="depth2", readonly="true" id=cnt onclick="filter('2',this.innerText)")= product.depth2
                        td 
                            div(value=product.depth3, name="depth3", readonly="true" id=cnt onclick="filter('3',this.innerText)")= product.depth3
                        td 
                            div(value=product.name, name="item", readonly="true" id=cnt)= product.name
                        td
                            = product.barcode  
                    - cnt++
                .ui.modal 
                    .content
                        input(style="width:80px" id="newDepth1" placeholder="depth1")
                        input(style="width:100px" id="newDepth2" placeholder="depth2")
                        input(style="width:100px" id="newDepth3" placeholder="depth3" onkeyup="if(window.event.keyCode==13){saveNew()}")
                        button.ui.button.mini(onclick="saveNew()")
                            i.check.icon.mini
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/goods.js")
    script(src="/script/callAjax.js")