html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
    body
        center
            H1= title 
            table
                tr 
                    td
                        input.ui.button(type="file", id="uploadImg", name="uploadImg", onchange="uploadFile()")
            P
            - var cnt=0;
            table 
                tr
                each image in images
                    if cnt%3===0
                        tr
                    td(style="text-align: center")
                        img(src=image.link, id=image.link, style="width:120px" onclick="modal(this)")
                        br
                        button.ui.mini.button(id=image.deletehash onclick="deleteFile(this)") 삭제
                        button.ui.mini.button(id=image.link onclick="copyUrl(this)") url
                    - cnt++
    .ui.modal
            #detail
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/image.js")
    script(src="/script/callAjax.js")