html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
        link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    body
        center
            input#deviceId(type="hidden",value=deviceID)
            table(style="position: absolute; left:65px; top:210px;")
                tr
                    td
                        a(href="http://instagram.com/sleeping.nyanya")
                            img(src="/images/icon/insta.png" height="30px")
                    td
                        a(href="http://blog.naver.com/cutiefunny")
                            img(src="/images/icon/blog.png" height="20px")
            img#title(src="/images/1.png" width="350px" style="padding-top:20px;padding-bottom:30px;" onclick="getTitle()")
            P
            #label0 
                .ui.pointing.below.label(style="opacity:100%;") 아무말
            .swiper
                .swiper-wrapper
                    each memo in memos 
                        .swiper-slide
                            .visitor(onclick="clickMemo(this)")= memo.contents
                            if memo.deviceId===deviceID || deviceID==="5bee79fe6e63b7e26ddec58286a622a975983bee46f96830450de77f1c2c4dc4"
                                button.ui.mini.button.deleteButton(id=memo.createTm,onclick="deleteMemo(this)") 삭제
            P
            .ui.input.fluid.action
                input#memo(placeholder="40자 이내의 아무말",maxlength="40")
                button.ui.button(onclick="saveMemo()") 남기기
            P
            #label1 
                .ui.pointing.below.label(style="opacity:100%;") 분실물
            .swiper
                .swiper-wrapper
                    each image in images 
                        if image.use==="lost"
                            .swiper-slide
                                img(src=image.link, width="100%",onclick="clickImage(this)")
            P
            #label2
                .ui.pointing.below.label(style="opacity:100%;") 셀카 갤러리
            .swiper
                .swiper-wrapper
                    each image in images 
                        if image.use==="sel"
                            .swiper-slide
                                img(src=image.link, width="100%",onclick="clickImage(this)")
            P
            #label3
                .ui.pointing.below.label(style="opacity:100%;") 슬라이드하여 제품사진 크기를 조절
            input.slider#slider(type="range" value="3" min="1" max="5" oninput="changeSlider(this.value)")
            P
            each product in products 
                if product.seq!=0
                    .step3(id=product.name,name="products",url=product.link,onclick="goLink(this)")
                        img(src=product.img, width="100%")
                        .centered3(name="prices")= product.price 
            .ui.modal(tabindex="0") 
                .scrolling.content
                    #detail
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    script(src="/script/main.js")
    script(src="/script/callAjax.js")