html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
    body
        center
            H1= title 
            table
                tr 
                    td
                        button#onOff(onclick="toggle()") 비활성 상품 보이기
                    td
                        button#save(onclick="save()") 저장
                    td
                        button#create(onclick="create()") 새로 만들기
            P
            table 
                each product in products 
                        if product.seq===0
                            tr(name="gray",style="display:none")
                                td
                                    input.seq_td.gray(value=product.seq, name="seq", onchange="change(this)")
                                td
                                    input.name_td.gray(value=product.name, name="name", readonly="true")
                                td 
                                    input.price_td.gray(value=product.price, name="price", onchange="change(this)")
                                td 
                                    input.name_td.gray(value=product.link, name="link", onchange="change(this)")
                        else
                            tr(style="display:block")
                                td
                                    input.seq_td(value=product.seq, name="seq", onchange="change(this)")
                                td
                                    input.name_td(value=product.name, name="name", readonly="true")
                                td 
                                    input.price_td(value=product.price, name="price", onchange="change(this)")
                                td 
                                    input.name_td(value=product.link, name="link", onchange="change(this)")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/manage.js")
    script(src="/script/callAjax.js")