html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
    body
        center
            H1= title 
            table
                tr 
                    td
                        button#create(onclick="create()") 추가
                    td
                        button#save(onclick="save()") 저장
                    td
                        button#create(onclick="showAll()") show all
            P
            - var cnt=0
            table(style="width:400px") 
                tr
                    th(style="width:80px") depth1
                    th(style="width:100px") depth2
                    th(style="width:100px") depth3 
                    th(style="width:120px" colspan=2) 수량
                each product in products 
                    tr(name="row" id="row"+cnt)
                        td
                            input(style="width:80px" value=product.depth1, name="depth1", readonly="true" id=cnt onclick="filter('1',this.value)" ondblclick="create(1,this.id)")
                        td
                            input(style="width:100px" value=product.depth2, name="depth2", readonly="true" id=cnt onclick="filter('2',this.value)" ondblclick="create(2,this.id)")
                        td 
                            input(style="width:100px" value=product.depth3, name="depth3", readonly="true" id=cnt onclick="filter('3',this.value)" ondblclick="create(3,this.id)")
                        td 
                            input(style="width:40px" value=product.Qtty, name="Qtty", id=cnt onchange="change(this)")
                        td
                            .ui.mini.basic.icon.buttons(style="height:24.39px")
                                button.ui.button.mini(value=cnt onclick="changeValue('plus',this.value)")
                                    i.plus.icon.mini
                                button.ui.button.mini(value=cnt onclick="changeValue('minus',this.value)")
                                    i.minus.icon.mini
                    - cnt++
                .ui.modal 
                    .content
                        input(style="width:80px" id="newDepth1" placeholder="depth1")
                        input(style="width:100px" id="newDepth2" placeholder="depth2")
                        input(style="width:100px" id="newDepth3" placeholder="depth3" onkeyup="if(window.event.keyCode==13){saveNew()}")
                        button.ui.button.mini(onclick="saveNew()")
                            i.check.icon.mini
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/storage.js")
    script(src="/script/callAjax.js")