html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
    body
        center
            H1= title 
            table
                tr 
                    td
                        button#create(onclick="create()") 추가
                    td
                        button#save(onclick="save()") 저장
                    td
                        button#save(onclick="del()") 삭제
                    td
                        button#show(onclick="showAll()") 완료보기
            P
            - var cnt=0
            table(style="width:380px") 
                tr
                    th(style="width:85px") 생성일
                    th(style="width:225px") 할 일
                    th(style="width:70px") 상태 
                each todo in todoList
                    tr(name="row" id="row"+cnt)
                        td
                            input(style="width:85px" value=todo.createTm.substring(0,8) name="createTm" id=todo.createTm onclick="selecting("+todo.createTm+")" readonly="true")
                        td
                            input(style="width:225px" value=todo.todo, name="todo" onclick="selecting("+todo.createTm+")")
                        td 
                            .ui.dropdown
                                .text(name="stat" id="stat"+cnt value=todo.stat)= todo.stat
                                i.dropdown.icon
                                .menu
                                    .item 항시
                                    .item 예정
                                    .item 진행
                                    .item 완료
                        
                    - cnt++
                .ui.modal 
                    .content
                        input(style="width:260px" id="newTodo" placeholder="할 일" onkeyup="if(window.event.keyCode==13){saveNew()}")
                        button.ui.button.mini(onclick="saveNew()")
                            i.check.icon.mini
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/todo.js")
    script(src="/script/callAjax.js")